@charset "UTF-8";

/*em HTML é id=""  em CSS é   #

    em HTMl é class=""  em CSS é  .


*/

body{
    background-color: rgb(171, 248, 171);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
}

h1#principal{
    text-align: center;
    background-image: linear-gradient(to left, blue, green,blue);
    color: white;
    border-radius: 25px; 
}
h2{
    color: chartreuse;
}

p.basico{
    background-image: linear-gradient(to left, blue, green,blue);
    color: white;
}

