@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
    
    body{
        background-image: linear-gradient(to right, #FBFAF5,#cfb36c,#D1B38F,#B8B6B4);
    }
    

main{
    background-color: white;
    border-radius:30px;
    box-shadow: 9px 9px 9px  rgb(88, 85, 85);
    width: 600px;
    padding: 10px;
    margin:auto
}

h1{
    color: #B8B6B4;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2{
    color: #E7C97F;
}




p{
    text-align: justify;
    }
    
    