

body {
            background-color: lightskyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 29 px;

        }
        h1 {
            color: mediumblue; background-color: yellow;
        }
        h2 {
            color: darksalmon;
        }
        p {
            color: red;
        }

        h1{
            text-decoration: underline;
        }